In [ ]:
#Importing Pandas
import pandas as pd

#Creating dictionary with Column names (key) and Adding Member information next to each Column name (Values)
data = {
  "Name": ["Svetlana","Santosh","Debangana","Hana"],
  "Slack Username": ["Svetlana Sokolova","Santosh T","debangana",0],
  "Country" :["United Kingdom","United States of America","United Kingdom",0],
  "Hobby":["Playing Piano","Tennis","Badminton",0],
  "Affiliation":["Queens University Belfast","University of Texas at San Antonio","Queens University Belfast (Alumna)",0],
  "Favourite Gene (gene name)":["TP53","IFNB","BRCA1",0]
}

#Converting the dictionary to Dataframe with custom row names for better clarity 
df = pd.DataFrame(data, index = ["Member 1", "Member 2", "Member 3","Member 4"])
 
# Optional- If you want to save the data as csv
# #Saving the dataframe as a csv file
# Data_csv = df.to_csv('data.csv', index= True)

# Read the CSV file and use the first column as index 
# df = pd.read_csv("data.csv", index_col=0)

#Print out the table
print(df)

               Name     Slack Username                   Country  \
Member 1   Svetlana  Svetlana Sokolova            United Kingdom
Member 2    Santosh          Santosh T  United States of America
Member 3  Debangana          debangana            United Kingdom
Member 4       Hana                  0                         0

                  Hobby                         Affiliation  \
Member 1  Playing Piano           Queens University Belfast
Member 2         Tennis  University of Texas at San Antonio
Member 3      Badminton  Queens University Belfast (Alumna)
Member 4              0                                   0

         Favourite Gene (gene name)
Member 1                       TP53
Member 2                       IFNB
Member 3                      BRCA1
Member 4                          0